<div class="row requirement-nav">
    <div class="span4 <%= 'active' if step == 1  %>">
      <h4><span>1</span> Vyplň prosím žádost</h4>
    </div>
    <div class="span5 <%= 'active' if step == 2  %>">
      <h4><span>2</span> Prohlédni si a odešli žádost</h4>
      <p>
        <em>vše je zdarma nikde nic neplatíš</em>
      </p>
    </div>
    <div class="span7 <%= 'active' if step == 3  %>">
      <h4><span>3</span> Nyní ti začnou přicházet cenové nabídky </h4>
      <p>
        <em>zůstaneš anonymní dokud si nevyberetš nabídku</em></p>
    </div>
  </div>
<div class="row">&nbsp;</div>