<header>
  <div class="page-header">
    <h1>Žádost
      <small> Co mě česká?</small>
    </h1>
    <%= render :partial => 'steps', :locals => {:step => 1} %>
  </div>
</header>
<%= render :partial => 'form' %>