<header>
  <div class="page-header">
    <h1>Žádost
      <small> Co mě česká?</small>
    </h1>
    <%= render :partial => 'steps', :locals => {:step => 1} %>
  </div>
</header>
<div class="row">
  <div class="span10">
    <% unless @need_assistant %>
        <%= render :partial => 'form' %>
    <% else %>
        <%= render :partial => 'skill_assistant' %>
    <% end %>
  </div>

  <div class="span2">
    <h3>Wiki</h3>

    <div class="side-wiki"></div>
    <hr>
    <h3>What's included</h3>

    <p>Bootstrap comes complete with compiled CSS, uncompiled, and example templates.</p>
    <ul>
      <li><span class="label">New in 1.3</span> <a href="./javascript.html">Javascript plugins</a></li>
      <li>All original .less files</li>
      <li>Fully <a href="../bootstrap.css">compiled</a> and <a href="../bootstrap.min.css">minified</a> CSS</li>
      <li>Complete styleguide documentation</li>
      <li>Three example pages with different layouts</li>
    </ul>
  </div>
</div>
<!-- /row -->


