<section id="about">
  <div class="row">
    <div class="requirement-nav">
      <div class="active span4">
        <h4><span>1</span> Vyplň prosím žádost</h4>
      </div>
      <div class="span5">
        <h4><span>2</span> Prohlédni si a odešli žádost</h4>
        <p>
          <em>vše je zdarma nikde nic neplatíš</em>
        </p>
      </div>
      <div class="span7">
        <h4><span>3</span> Nyní ti začnou přicházet cenové nabídky </h4>
        <p>
          <em>zůstaneš anonymní dokud si nevyberetš nabídku</em></p>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="span12">
      <%= render :partial => 'form' %>
    </div>

    <div class="span4">
      <h3>Wiki</h3>

      <div class="side-wiki"></div>
      <hr>
      <h3>What's included</h3>

      <p>Bootstrap comes complete with compiled CSS, uncompiled, and example templates.</p>
      <ul>
        <li><span class="label">New in 1.3</span> <a href="./javascript.html">Javascript plugins</a></li>
        <li>All original .less files</li>
        <li>Fully <a href="../bootstrap.css">compiled</a> and <a href="../bootstrap.min.css">minified</a> CSS</li>
        <li>Complete styleguide documentation</li>
        <li>Three example pages with different layouts</li>
      </ul>
    </div>
  </div>
  <!-- /row -->
</section>

