<style type="text/css">
    .footer {
        background: none repeat scroll 0 0 #FFFFFF;
        border-top: 1px solid #E6E6E6;
        background-color: #EDEBE1;
        border-top: 1px solid #cccccc;
    }
        .footer .breadcrumb {
            background: none;
            border: none;
            box-shadow: none;
        }
</style>

<footer class="footer">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#">Home</a> <span class="divider">/</span></li>
      <li><a href="#">Middle page</a> <span class="divider">/</span></li>
      <li><a href="#">Another one</a> <span class="divider">/</span></li>
      <li class="active">You are here</li>
    </ul>
  </div>
</footer>