 #featured {
            background-color: #EDEBE1;
            height: 320px;
            border-bottom: 1px solid #cccccc;
            /*background: 0 0 image-url('featured-bgr.png') repeat-x transparent;*/
        }