/*
.requirement-steps h5, .requirement-steps p {
            color: #999999;
        }

.requirement-steps div.active h5, .requirement-steps div.active p {
            color: inherit;
        }

.requirement-steps div h5 span {
            display: inline-block;
            border-radius: 20px;
            padding: 1px 15px;
            border: 1px solid #cccccc;
            background-color: #eaeaea;
            color: white;
        }

.requirement-steps div.active h5 span {
            background-color: #5277A8;
            border-color: #093E72;
            color: white;
            text-shadow: 0 1px 0 #093E72;
        }

.requirement-steps div p {
            position: relative;
            padding-left: 45px;
            bottom: 11px;
        }
*/
