<div class="row">
  <h3>Your profile: <%= @profile.company_name %></h3>
</div>
<div class="row">
  <p>Níže je zobrazen Váš profil tak jak ho vidí zákazníci, kteří příjdou na DumSnadno.cz. Firmy s lépe vyplněným
    profilem
    většinu času vyhávají více zakázek.</p>
</div>