<%= YAML.load(ERB.new(File.read("config/database.yml")).result).to_yaml %>
defaults: &defaults
  adapter: active_record
  active_record_adapter: postgresql
    
development:
  <<: *defaults
  <<: *development

production:
  <<: *defaults
  encoding: unicode
  host: 'ec2-107-20-155-123.compute-1.amazonaws.com'
  database: 'cwkkotarvv'
  pool: 5
  username: 'cwkkotarvv'
  password: 'R11-fWWM3ljEzTIy-C3T'

test:
  <<: *defaults
  <<: *test

  