<style type="text/css">
    #list ul {
        height: 400px;
        overflow-y: hidden;
    }

    #list ul:hover {
        overflow-y: scroll;
    }

    #list ul li:hover {
        background-color: #eaeaea;
    }
</style>
<%= widget_div :id => 'list', :class => '' do %>
    <%= radius %> Kilometrů / <%= cities.size %> měst
    <ul class=" unstyled">
      <% cities.each do |city| %>
          <li><%= city.name %></li>
      <% end %>
    </ul>
<% end %>

<script type="text/javascript">
    //$('#list').effect('highlight', {}, 4000);
</script>