<style type="text/css">
  #list ul {max-height: 300px; overflow: scroll;}
</style>
<%= widget_div :id => 'list', :class => 'span5 offset1' do %>
    <%= range %> Kilometrů / <%= cities.size %> měst
    <ul class=" unstyled">
      <% cities.each do |city| %>
          <li><%= city.name %></li>
      <% end %>
    </ul>
<% end %>

<script type="text/javascript">
  $('#list').effect('highlight', {}, 4000);
</script>