<div class="menu-top">
  <ul>
    <% ['Menu', 'User account', 'Logout'].each do |link| %>
        <li><a href="#"><em class="active"><%= link %></em></a> | </li>
    <% end %>
  </ul>
</div>
<div class="menu1">
  <ul>
    <li>
      <a>
        <em class="active">
          Active menu
        </em>
      </a>
    </li>
    <li>
      <a>
        <em>
          DVD
        </em>
      </a>
    </li>
    <li>
      <a>
        <em>
          New Releases
        </em>
      </a>
    </li>
    <li>
      <a>
        <em>
          Bestsellers
        </em>
      </a>
    </li>
  </ul>
  <div class="white-line"></div>
</div>