<div id="login-form">
  <form action="#test" data-remote='true'>
    <fieldset>
      <legend>Test me</legend>
      <label for="1">Phone</label>
      <input type="text" value="test me" id="1"/>
      <label for="2">Name</label>
      <input type="text" value="5334 44334 s" id="2"/>

      <button class="button">Submit</button>
    </fieldset>
  </form>
</div>