<% content_for :stylesheet_head do -%>
    <!--[if IE]>
    <style type="text/css">
        .timer {
            display: none !important;
        }

        div.caption {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #99000000, endColorstr = #99000000);
            zoom: 1;
        }
    </style>
    <![endif]-->
<% end %>

<% content_for :featured do -%>


    <div id="featured-content">
      <div class="container">
        <div class="row">
          <div class="span8">
            <h1>
              <span class="intro">Hledáte řemeslníky pro svůj domov</span>
              <strong><span>Za nejlepší&nbsp;Cenu</span>
                <span class="icon-ampersand">&amp;</span>&nbsp;<span>Kvalitu</span></strong>
            </h1>

            <p>
              <%= link_to 'Začni právě zde', new_skill_requirement_path,
                          :id => 'start-here',
                          :class => 'btn large primary' %>
            </p>

            <p class="professions"><span class="intro">Zedník, topenář, obkladač, vodař</span>
              <span class="intro">archytekt ... <%= link_to 'a další', new_skill_requirement_path %></span>
            </p>
          </div>

          <div class="span8">
            <div class="featured-orbit">
              <div class="clip-img">

                <div id="featured">
                  <% (1..3).each do |i| %>
                      <%= image_tag("featured-#{i}.jpg", 'data-caption' => "#feature#{i}") %>
                  <% end %>
                </div>
              </div>
              <span class="orbit-caption" id="feature1">  <span>Truhář: Pavel Vanousek</span></span>
              <span class="orbit-caption" id="feature2">  <span>Truhář: Jindra Ostra</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>

<div class="container">
  <div class="row">&nbsp;<br><br></div>
  <div class="row">
      <div class="page-header">
      <h2>Co zde najdeš?</h2>
    </div>
    <div class="span-one-third">
      <h3>Nezůstaneš v tom sám</h3>
      <ul>
        <li>Komunikace</li>
      </ul>
    </div>
    <div class="span-one-third">
      <h3>Transparentnost
        <small>a cenové srovnání</small></h3>
    </div>
    <div class="span-one-third">
      <h3>Zkušenosti ostatních
        <small>a jejich hodnocení</small></h3>
    </div>
  </div>
  <div class="row">
    <div class="page-header">
      <h2>Právě se stalo</h2>
    </div>
  </div>
</div>