

<% content_for :featured do -%>
    <script type="text/javascript">

/*
            function displayUser(user) {
                var userName = document.getElementById('userName');
                var greetingText = document.createTextNode('Greetings, '
                        + user.name + '.');
                userName.appendChild(greetingText);
            }

            var appID = "304055022939018";
            if (window.location.hash.length == 0) {
                var path = 'https://www.facebook.com/dialog/oauth?';
                var queryParams = ['client_id=' + appID,
                    'redirect_uri=' + window.location,
                    'response_type=token'];
                var query = queryParams.join('&');
                var url = path + query;
                window.open(url);
            } else {
                var accessToken = window.location.hash.substring(1);
                var path = "https://graph.facebook.com/me?";
                var queryParams = [accessToken, 'callback=displayUser'];
                var query = queryParams.join('&');
                var url = path + query;

                // use jsonp to call the graph
                var script = document.createElement('script');
                script.src = url;
                document.body.appendChild(script);
            }
       */
    </script>
    <p id="userName"></p>
    <div id="featured-content">
      <div class="container">
        <div class="row">
          <div class="span8">
            <h1>
              <span class="intro">Hledáte řemeslníky pro svůj domov</span>
              <strong><span>Za nejlepší&nbsp;Cenu</span>
                <span class="icon-ampersand">&amp;</span>&nbsp;<span>Kvalitu</span></strong>
            </h1>

            <p>
              <%= link_to 'Začni právě zde', new_skill_requirement_path,
                          :id => 'start-here',
                          :class => 'btn large primary' %>
            </p>

            <p class="professions"><span class="intro">Zedník, topenář, obkladač, vodař</span>
              <span class="intro">archytekt ... <%= link_to 'a další', '#' %></span>
            </p>
          </div>

          <div class="span8">
            <%= render :partial => 'images_rotation' %>
          </div>
        </div>
      </div>
    </div>

<% end %>

<div class="container">
  <div class="row">&nbsp;<br><br></div>
  <div class="row">
    <div class="page-header">
      <h2>Co zde najdeš?</h2>
    </div>
    <div class="span-one-third">
      <h3>Nezůstaneš v tom sám</h3>
      <ul>
        <li>Komunikace</li>
      </ul>
    </div>
    <div class="span-one-third">
      <h3>Transparentnost
        <small>a cenové srovnání</small>
      </h3>
    </div>
    <div class="span-one-third">
      <h3>Zkušenosti ostatních
        <small>a jejich hodnocení</small>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="page-header">
      <h2>Právě se stalo</h2>
    </div>
  </div>
</div>