<%= widget_div :class => '' do %>

    <div class="row">
      <div class="span7"><%= render_widget 'map_content' %></div>
      <div class="span3"><%= render_widget 'list' %></div>
    </div>
<% end %>


