// = require core/grid
// = require twitter/bootstrap
// = require jquery-ui/smoothness
// = require chosen
//  require lib/orbit/orbit-1.2.3
// = require features/_header
// = require features/_featured
// = require_self

 body.homes-index { padding-top: 110px;}
 body { padding-top: 120px;}
.topbar .company {float:right;}

/* FORM SKILL REQUEST */
form { border: 1px solid #dddddd; padding-top:18px; border-radius: 5px 5px 5px 5px;}
 .datepicker { width:70px;}
// DATE PICKER
.ui-datepicker-inline {font-size:12px; z-index:10000; position:absolute;}
.ui-datepicker td span, .ui-datepicker td a {padding:0px;}

ol.numbered > li.clearfix:before { content: none;}
ol.numbered > li { margin-bottom:30px !important; list-style:none;}
ol.numbered > li > label { font-size:18px; margin-bottom:5px;}

.add-on.error {font-size:12px; border-color: #C87872;
   background-color:#FAE5E3; color: #9D261D;
    box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);}

 label small { font-size: 13px; color: #999;}
.skill-request legend { margin-bottom:15px;}
.skill-request label { padding-bottom: 3px; }
.skill-request label a { font-size:11px; }
.skill-request .actions {margin-bottom:0;}
.skill-request select { background-color: white;}
#new_skill_requirement fieldset { padding-right:85px;}
.hidden { display:none;}

li.well {
    width:370px !important;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom:0px;
    min-height: 0px;
    padding: 3px 3px 7px 9px !important;
}

// CHOSEN MENU PLUGIN
#skill_requirement_skill_list_chzn {*z-index:6;}

#skill_requirement_when_1_date_chzn, #skill_requirement_when_1_hour_from_chzn,
#skill_requirement_when_1_hour_till_chzn {*z-index:5 ;}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {width:10px; top:4px;}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover { background-position: right -11px;}

// ADD ATTACHMENT LINK
.attachments {margin-top:8px;}
.attachments .inline-inputs {margin: 5px 0;}
a.remove_nested_fields {margin-left:60px;}

