<div class="clearfix">
  <form action="#" class="form-stacked user-form">
    <h3>Facebook</h3>
    <span class="help-block">Vstup na tvůj registrovaný účet</span>
    <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
  </form>
</div>