<div class="row">
  <div class="span-one-third">
    <%= render 'user_sessions/form' %>
  </div>
  <div class="span-one-third">
    <%= render 'users/form' %>
  </div>
  <div class="span-one-third">
    <%= render 'user_sessions/facebook' %>
  </div>
</div>