<!DOCTYPE html>
<html>
<head>
  <title>DumsnadnoTest</title>
  <%= stylesheet_link_tag "application" %>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="#">DůmSnadno.cz</a>
      <ul class="nav span13">
        <li class="active"><a href="#overview">Domů</a></li>
        <li><a href="#">Jak to funguje</a></li>
        <li><a href="#">Zadej požadavek</a></li>
        <li class="company"><a href="3">Jste majitelem firmy? Zaregistruj se</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="min-height: 1200px;">
  <%= yield %>
</div>
</body>
</html>
